<footer class="page-footer font-small bg-secondary pt-4">
<div class="container-flex">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
         <h4 class= "text-white">Siga-nos nas redes sociais</h4>
        </div>
    </div>

<div class="row">
    <div class="col-md-12 d-flex justify-content-center">
        <ul class="social-network">
          <li>
           <a href="https://github.com/Allanakaren" target="_blank" class="icoGithub">
            <i class="fa fa-github" aria-hidden="true"></i>
           </a>
          </li>

          <li>
            <a href="https://www.instagram.com/allanakarenn/" target="_blank" class="icoInstagram">
                <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
           </li>

           <li>
            <a href="https://www.linkedin.com/in/allana-karen/" target="_blank" class="icoLinkedin">
                <i class="fa fa-linkedin-square" aria-hidden="true"></i>
            </a>
           </li>
        </ul>
    </div>
</div>
</div>
<div class="footer-copyright bg-dark text-center py-3">
    <span class="text-light"> © 2022 Copyright: Allana Karen</span>

</div>
</footer>
