<div class="container-fluid">

    <div class="row bg-secondary d-flex align-items-center ">
        <div class="col-md-6 text-white">
         <div class="rowb d-flex justify-content-center">
          <div class="col-md-6">
           <h1 class="fs-54">Seja bem vindo(a)!</h1>
           <h5 class="'fs-18">expresse aqui os seus pensamentos  e opiniões!</h5>
          </div>
         </div>
        <div class="row d-flex justify-content-center mt-3 mb-5 ">
            <div class="col-md-6d">
             <button  class="btn bg-danger text-white mr-2" data-toggle="modal" data-target="#novapostagem">Nova postagem</button>
             <a class="btn bg-danger text-white" href="#postagens">ver postagens</a>
            </div>
        </div>
        </div>
        <div class="cpl-md-6 d-flex justify-content-center">
         <img src="https://i.imgur.com/4qa1vlb.png" alt="" width="500px" height="500px">
        </div>
    </div>
</div>

<div class="container mb-5 mt-5" id='postagens'>
    <nav>
        <div class="nav nav-tabs d-flex active text-secondary font-weight-bold justify-content-center" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="todaspostagens-tab" data-toggle="tab" href="#todaspostagens"
           role="tab" aria-controls="todaspostagens" aria-selected="true">Todas as Postagens</a>

          <a class="nav-item nav-link text-secondary font-weight-bold " id="nav-minhaspostagens-tab" data-toggle="tab" href="#minhaspostagens"
           role="tab" aria-controls="minhaspostagens" aria-selected="false">Minhas Postagens</a>

          <a class="nav-item nav-link  text-secondary font-weight-bold" id="nav-postagenstema-tab" data-toggle="tab" href="#postagenstema"
           role="tab" aria-controls="postagenstema" aria-selected="false">Postagens por Tema</a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="todaspostagens" role="tabpanel" aria-labelledby="nav-todaspostagens-tab">
            Todas as Postagens
        </div>

        <div class="tab-pane fade" id="minhaspostagens" role="tabpanel" aria-labelledby="nav-minhaspostagens-tab">
            Minhas postagens
        </div>

        <div class="tab-pane fade" id="postagenstema" role="tabpanel" aria-labelledby="nav-postagenstema-tab">
         Postagens por Tema
        </div>
      </div>
</div>



  
  <!-- Modal -->
  <div class="modal fade" id="novapostagem" tabindex="-1" role="dialog" aria-labelledby="TituloModalCentralizado" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div class="form-group">
           <label for="titulo">Título</label>
           <input type="text" class="form-control" id="titulo" placeholder="Digite o Título">
          </div> 

          <div class="form-group">
            <label for="texto">Texto</label>
            <textarea name="texto" id="texto" rows="3" class="form-control" ></textarea>
           </div>

           <div class="form-group">
            <label for="tema">Escolha um tema ou <a data-dismiss="modal" routerLink="/tema">Cadastre um novo</a>: </label>
            <select name="tema" id="tema" class="form-control"></select>
            <option value="">Temas</option>
           </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" text-white>Cancelar</button>
          <button type="button" class="btn btn-success" text-white >Publicar</button>
        </div>
      </div>
    </div>
  </div>